/*
Colors used:
Background: #fbf7f0
Header: #eaebed
Headings: #03256c
Body: #5c574f
Links/Accent: #ee5622
Selected Links: #ad401a
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #fbf7f0;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #5c574f;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Fraunces', serif;
}
h1 {
  font-size: 3.12em;
  font-weight: 500;
  color: #03256c;
}

h2 {
  font-size: 2.19em;
  font-weight: 500;
  color: #03256c;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
  color: #03256c;
}
h4 {
  font-size: 1.13em;
  font-weight: 500;
  color: #03256c;
}
img {
  width: 100%;
}
a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #ee5622;
}
a:hover,
a:focus {
  color: #ee5622;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #ad401a;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ee5622;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:visited {
  background-color: #ee5622;
  color: #ffffff;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  opacity: 2; /* Darken button opacity when selected */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ee5622;
  text-transform: uppercase;
  border: 2px solid #ee5622;
}
.button.contact:hover {
  background-color: #ee5622;
  color: #ffffff;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#work .row { padding-bottom: 25px; }
#hero, #main {
  text-align: center; /* Centers text */
}
#hero, #main {
  background-color: #eabda8;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.logo {
  max-width: 150px;
  text-align: center;
}
header {
  background-color: #eabda8;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 7px 7px 24px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow:    7px 7px 24px 0px rgba(50, 50, 50, 0.36);
  box-shadow:         7px 7px 24px 0px rgba(50, 50, 50, 0.36);
}
nav {
  display: inline-block;
  max-width: 100%
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #03256c;
}
nav > ul > li > a:visited {
  color: #ee5622;
}
nav > ul > li > a:hover,
a:focus {
  color: #ee5622;
  text-decoration: underline;
}
nav > ul > li > a:active {
  color: #ad401a;
}
main {
  padding-top: 250px;
}
[class*="col-"] {
  float: left;
  padding: 10px
}
[class*="svg"] {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.berlin-illustration {
width: 100%
height:auto;
}
ul {
  list-style-position: inside;
  text-align: left;
}
footer {
  text-align: center;
}
.social {
  max-width: 30px;
  text-align: center;
  display: inline-block;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
  font-size: 18px
}
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  main {
    padding-top: 150px;
  }
    .col-md-6 {
  width: 50%;
}
#about-page h3 { margin-top: 0;}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
  font-size: 20px
}
.col-lg-7 {
width: 60%;
}
.col-lg-5 {
width: 40%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
/* Animation */
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 35s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 40s cloud-move-reverse infinite alternate linear;
}
